

input#checkbox {
    display: none;
}

#dropdown-label {
    width: 40px;
    height: 35px;
    display: flex;
    background: #ffba09;
    transition: 0.2s linear;
    position: relative;
    border-radius: 5px;
}

#dropdown-label:after {
    margin-left: 9px;
    position: absolute;
    content:'';
    background: #000000;
    width: 20px;
    height: 2px;
    box-shadow: 0 6px 0 #000000;
    top: 15px;
}

#dropdown-label:before {
    margin-left: 9px;
    position: absolute;
    content:'';
    background: #000000;
    width: 20px;
    height: 2px;
    top: 9px;;
    left: 0;
}

.menu-content {
    line-height: 2em;
    font-family: san-serif, serif;
    background: #beffc5;
    border-radius: 5%;
    border-style: solid;
    max-width: fit-content;
    box-shadow: 0 8px 20px -10px rgba(0,0,0,.2);
    overflow: hidden;
    visibility: hidden;
    transition: opacity 1s linear;
    color: #6F6F6F;
    opacity: 0;
    position: absolute;
}

ul {
    list-style: none;
}

ul > li {
    padding: 2px 14px;
    cursor: default;
    transition: 0.2s ease-in-out;
    border-left: 3px solid transparent;
    font-weight: 300;
}

input:checked ~ .menu-content {
    visibility: visible;
    opacity: 1;
}

input:checked ~ #dropdown-label:after {
    transform: rotate(45deg);
    box-shadow: 0 6px 0 rgba(0,0,0,0);
    top: 18px;
    background: black;
}

input:checked ~ #dropdown-label:before {
    background: black;
    top: 18px;
    transform: rotate(-45deg);
}