body {
    font-family: sans-serif;
}

/* Make content area fill the entire browser window */
html,
.fullscreen {
    display: flex;
    min-height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: rgba(66, 180, 248, 0.6);
}

/* Center the content in the browser window */
.container {
    height: 100%;
    padding: 0;
    width: 100%;
    margin: auto;
    text-align: center;
}

.title {
    font-size: 3rem;
    height: 5%;
    margin-top: 20px;
    margin-bottom: 40px;
}

.answer {
    width: 100%;
    height: 10%;
    font-size: 32px;
    text-align: center;
    background-color: rgba(66, 180, 248, 0.6);
}

.sign {
    float: left;
    width: 50%;
    height: max-content;
    border-radius: 25px;
    background-color: #ffba09;
    color: black;
    margin-top: 40px;
    padding: 14px 28px;
    font-size: 192px;
    cursor: pointer;
}

#play-btn {
    display:inline-block;
    width:10%;
    height:100%;
    border-style: solid;
    border-width: 8px 0 8px 13px;
    border-color: transparent transparent transparent #007bff;
}

#bell-icon {
    color: black;
    position: relative;
    margin-left: 25px;
    margin-top: 2px;
    width: 9px;
    height: 10px;
    border: solid 1px currentColor;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
}

#bell-icon:before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 2px;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    border: solid 1px currentColor;
}

#bell-icon:after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: -3px;
    width: 15px;
    height: 0;
    border-top: solid 1px currentColor;
    border-bottom: solid 1px white;
}
